:root{
    --ghee: rgba(255, 144, 14, 0.1);
    --orange: #FF900E;
    --white: #ffffff;
    --gray: #727272;
    --black:#131313;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
}


/* nav bar and banner styles  */

.container{
    background-color: var(--ghee);
    width: 100%;
    max-width: 1920px;
    padding: 0 25px;
    margin: 0 auto;
}


/* nav bar styles  */

 nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
 }

 nav ul{
    list-style: none;
    display: flex;
    gap: 25px;
 }

 nav ul li{
    font-weight: 500;
    font-size: 16px;
 }

 .nav-title{
    font-size: 30px;
    font-weight: 700;
 }


 /* banner styles */

 .banner {
    padding: 125px 25px 40px;
    background: var(--ghee);
  }

  .banner-title {
    font-weight: 700;
    font-size: 45px;
    text-align: center;
  }
  
  .banner-desc {
    font-weight: 400;
    font-size: 16px;
    color: var(--gray);
    text-align: center;
    margin: 32px 0;
  }

  .primary-btn{
    width: 150px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: var(--orange);
    color: var(--white);
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
  }

 .banner-image{
    width: 1000px;
    height: 500px;
    margin: 0 240px;
 }


/* feature section  */

.features-container{
   display: flex;
   gap: 40px;
   background-color: var(--white);
}

.feature-images{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 24px;
   margin: 100px 0 100px 200px;
}

.feature-images img{
   max-width: 320px;
   height: 300px;
}

.feature-detail{
   margin: 280px 180px 0 0;
}

.gray{
   color: var(--gray);
}
.orange{
   color: var(--orange);
}
.black{
   color: var(--black);
   font-weight: bolder;
}

.feature-title{
   font-weight: 500;
   font-size: 35px;
}

.feature-desc{
   font-weight: 400;
   font-size: 16px;
   color: var(--gray);
   margin: 24px 0;
}


/* experience section styles  */

.experience-container{
   display: flex;
   align-items: center;
   gap: 50px;
}

.experience-detail{
   margin: 80px 30px 50px 180px;
}

.experience-title{
   font-weight: 700;
   font-size: 35px;
   border-left: 3.5px solid var(--orange);
   padding-left: 8px;
}

.experience-desc, .variety-desc{
   font-size: 16px;
   color: var(--gray);
   margin: 20px 0;
}

.variety-desc{  
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
   white-space: pre-wrap;
   cursor: pointer;
  }

.variety{
   box-shadow: 5px 5px 15px rgb(236, 229, 229);
   padding: 30px 35px 20px 15px;
   border-radius: 8px;
}

.variety-title{
   font-weight: 600;
   font-size: 20px;
}

.experience-image{
   margin: 0 100px 0 0;
}

.experience-image img{
   max-width: 620px;
   height: 800px;
}

.experience-image{
   position: relative;
}

.experience-image button{
   width: 210px;
   height: 110px;
   border-radius: 8px;
   border: none;
   background-color: var(--orange);
   color: var(--white);
   font-weight: 700;
   font-size: 30px;
   cursor: pointer;
   position: absolute;
   top: 98%;
   right: 55%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}

#text{
   font-size: 17px;
   font-weight: 500;
}


/* facts section styles  */

.facts-detail{
   margin: 80px 0 50px 180px;
}

.facts-title{
   font-weight: bold;
   font-size: 40px;
}

.facts-desc{
   font-weight: 400;
   font-size: 16px;
   color: var(--gray);
   margin: 20px 0;
}

.transition{
   margin: 0 auto;
   align-items: center;
   margin-left: 320px;
}

.fact{
   border: 1px solid var(--orange);
   text-align: center;
   align-items: center;
   margin: 40px 30px 130px;
   border-radius: 8px;
   background-color: var(--white);
   height: 140px;
   width: 140px;
   transition: width 3s, height 3s, transform 3s;
}

.fact-title{
   font-weight: 500;
   font-size: 20px;
   margin: 10px 0 5px;
   color: #424242;
}

.face-desc{
   color: #727272;
   font-size: 14px;
}

.fact:hover{
   width: 180px;
   height: 180px;
   transform: rotate(30deg);
}


/* extra section styles  */

.services-container{
   text-align: center;
   margin-bottom: 100px;
}

.service-title{
   font-weight: bold;
   font-size: 40px;
}

.service{
   margin: 40px auto;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
}

.services-banner{
   box-shadow: 5px 5px 15px rgb(236, 229, 229);
   padding: 30px 35px 20px 15px;
   border-radius: 10px;
}
.services-banner h3{
   font-size: 20px;
}
.services-banner img{
   height: 100px;
   width: 200px;
   border-radius: 8px;
   margin-top: 20px;
}


/* sponsor section styles  */

.sponsor{
   text-align: center;
}

.sponsor-header{
   font-weight: 600;
   font-size: 20px;
}

.sponsor-description{
   margin: 15px 0 25px;
   font-size: 16px;
   color: var(--gray);
}

.sponsor-gallery img{
   margin: 30px 40px;
   filter: grayscale(100%);
}


/* footer styles  */

footer{
   text-align: center;
   margin: 120px 0 130px;
}
.copyright{
   max-width: 1250px;
   width: 100%;
   height: 80px;
   background: #FFF4E7;
   border-radius: 8px;
   margin-left: 130px;
}

.copyright-desc{
   font-size: 16px;
   color: #424242;
   padding-top: 28px;
}


 /*--------------- 
   media query
 ---------------*/

 @media only screen and (max-width:576px) {
   
   /* nav query styles  */

   nav ul{
        flex-direction: column;
        gap: 15px;
        padding-top: 100px;
   }

   nav ul li{
      font-weight: 500;
      font-size: 14px;
   }  

   .nav-title{
      font-size: 20px;
      font-weight: 700;
   }


   /* banner query styles  */

   .banner-title {
      font-weight: 700;
      font-size: 35px;
    } 

    .banner-desc {
      font-size: 15px;
    }

   .banner-image{
        width: 100%;
        height: 100%;
        margin: 0 auto;
   }


   /* feature section query styles  */

   .features-container{
         flex-wrap: wrap;
   }

   .feature-images{
         grid-template-columns: repeat(1, 1fr);
         gap: 24px;
         padding: 0 0;
         margin: 40px auto 0;
   }

   .feature-detail{
         margin: 30px auto 0;
         padding: 0;
         text-align: center;
   }
      
   .feature-desc{
      font-size: 12px;
      color: var(--gray);
      margin: 24px 8px;
   }


   /* experience section query styles  */

   .experience-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 50px;
      margin: 50px 0 150px;
   }

   .experience-detail{
      margin: 0 auto;
      padding: 0;
      text-align: center;
   }

   .experience-image{
      padding: 0 0;
      margin: 30px auto 0;
   }

   .experience-image img{
      width: 100%;
      height: auto;
   }

   .experience-image button{
      width: 150px;
      height: 50px;
      font-size: 15px;
      margin: 50px -160px;
   }

   #text{
      font-size: 13px;
   }


   /* fact section query styles  */

   .facts{
      margin-top: 60px;
   }

   .facts-detail{
      margin: 0 auto;
      text-align: center;
   }
    .fact-title{
      font-size: 15px;
    }
   
   .facts-desc{
      font-size: 13px;
      color: var(--gray);
   }
   
   .transition{
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      margin-bottom: 80px;
   }
   
   .fact{
      margin: 8px auto;
   }
   .fact:hover{
      transform: rotate(0.5turn);
   }


   /* extra section query styles  */

   .service{
      flex-direction: column;
   }
   

    /* footer query styles  */

    footer{
      margin: 80px 0 50px;
   }
   .copyright{
      margin: 0 auto;
   }
}